@use './../../styles/partials/fonts' as *;
@use './../../styles//partials/mixin' as *;

.wrapper{
    display: flex;
    background-color: #eff2f9;
    &__left-pannel{
        width: 50%;
        height: 500px;

    }
    &__right-pannel{
        display: flex;
        flex-direction: column;
        width: 50%;
        height: 500px;
        justify-content: flex-start;
        text-align: left;
        padding-top: 2.5rem;
        
    }

    &__hero{
        width: auto;
        object-fit: cover;
        object-position: center;
    }

    &__hero-btn{
        @include primary-button-styles;
        width: 50%;
    }

}