@use './../../styles/partials/fonts' as *;
@use './../../styles//partials/mixin' as *;

.upload-wrapper{
    padding: 2.5rem;
    &__upload-btn{
        width: auto;
        height: 56px;
        border: 1px dashed $skillsync-blue;
        border-radius: 15px;
        color: gray;
    }
}