@use './../../styles/partials/fonts' as *;
@use './../../styles//partials/mixin' as *;

*{
    box-sizing: border-box;
}

.selected-job-wrapper{
    background-color: $skillsync-gray;
    padding: 0 2.5rem;
}

.container{
  padding: 1.5rem;
  &__header{
    background-color: white;
    height: 50px;
    display: flex;
    justify-content: space-between;
  }
  &__header-title{
    margin: 0;
    padding: 0;
  }
  &__btn-back{
    @include primary-button-styles;
    width: 15%;
  }
  &__chart{
    display: flex;
    height: 350px;
  }
  &__chart-box{
    background-color: white;
    width: 20%;
    border-radius: 5px;
    margin: 1rem 0;
  }
  &__skills-pannel{
    display: flex;
    margin: 1rem 0;
    margin-left: 1rem;
    background-color: white;
    padding: 1rem;
    justify-content: space-between;
    column-gap: 1rem;
    width: 80%;
    
  }
  &__skills{
    width: 50%;
    padding: 1rem;
    background-color:  $skillsync-gray;
    
    border-radius: 5px;
  }
  &__sub-header{
    margin: 0;
    padding: 0;
  }
  &__horizontal{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    flex-wrap: wrap;
  }
  &__matching{
    color: green;
    font-size: 18px;
    
  }
  &__missing{
    color: red;
    padding: 0.5rem 0.5rem;
    font-size: 18px;
  }

  &__job-description{
    background-color: white;
    padding: 1rem;
    border-radius: 5px;
  }
}

.donutchart-legend{
    display: none;
  }
  
  .donutchart-arcs-path {
    stroke: none;
    fill: $skillsync-blue;
    opacity: 1 !important;
  }

  .donutchart{
    fill: $skillsync-blue !important;
    opacity: 1 !important;
    width: 375px !important; 
    height: 250px !important;
  }

  .donutchart-innertext-value{
    font-size: 82px;
    font-weight: 700;
    
  }
  .donutchart-innertext-label{
    font-size: 38px;
  }

svg{
  width: 250px;
}


 


