@use './../../styles/partials/fonts' as *;
@use './../../styles//partials/mixin' as *;


.profile-wrapper{
    margin: 1.5rem 7.5rem;
    padding: 1rem 2.5rem;
    height: 400px;
}

.upload-container{
    background-color: #f0f0f0;
    border-radius: 5px;
    border: 1px dashed $skillsync-blue;
    padding-top: 1rem;
    width :100%;
    &__card{
        text-align: center;
    }

    &__btn-upload{
        &::-webkit-file-upload-button{
            width: 150px;
            height: 38px;
            background-color: $skillsync-blue;
            color: white;
            border: none;
            border-radius: 5px;
        }
    }
    &__input{
        width: 50%;
        height: 38px;
        border-radius: 5px;
        border: 1px solid $skillsync-blue;
        padding-left: 1rem;
    }
    &__skills-list{
        display: flex;
        justify-content: center;
    }
    &__skills-list-item{
        list-style: none;
        margin-right: 1.5rem;
        background-color: gray;
        height: 35px;
        padding-left: 1rem;
        padding-right: 1rem;
        width: auto;
        color: black;
        border-radius: 10px;
        opacity: 0.7;
    }

    &__btn-save{
        width: 10%;
        height: 38px;
        background-color: $skillsync-blue;
        border-radius: 5px;
        border: none;
        color: white;
        margin-right: 1.5rem;
    }
    &__btn-search{
        width: 10%;
        height: 38px;
        background-color: $skillsync-blue;
        border-radius: 5px;
        border: none;
        color: white;
    }
}

